<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Etherpunks</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      -->
      </ul>

      <form class="navbar-form form-inline">



        <div class="form-group navbar-search">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="Search">
            <div class="input-group-addon" style="padding: 0px 10px;">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </div>






      </form>


      <ul class="nav navbar-nav navbar-right">

        <% if @session_has_public_address %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= @acct_name_short  %> <span class="caret"></span></a>
          <ul class="dropdown-menu">

              <li><a href="<%= url_for root_path %>">  Home  </a></li>

              <li role="separator" class="divider"></li>


            <% if @current_punk %>
              <li><a href="<%= url_for @current_punk %>">  My Profile  </a></li>
              <li><a href="<%= url_for edit_punk_path @current_punk %>">  Edit Profile    </a></li>
              <li><a href="http://etherscan.io/address/<%=@current_public_address%>" target="_blank">View Account</a></li>


            <% else %>

                 <li><a href="http://etherscan.io/address/<%=@current_public_address%>" target="_blank">View Account</a></li>

            <% end %>


          </ul>
        </li>
        <% end %>


        <% if @session_signed_in %>
         <li><a href="/logout">Logout</a></li>
         <% end %>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
